.done {
  text-decoration: line-through;
  background-color: lightgray;
}

body {
  background-color: ;
}
#title {
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
}
#userinput {
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 1px gray;
  padding: 6px 2px;
  width: 50%;
}
#enter {
  padding: 5px;
  border-radius: 5px;
}
#enter:hover {
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(24, 52, 206);
  color: white;
}
ol {
  display: flex-inline;
  align-items: center;
  list-style:;
}

li {
  text-decoration: none;
  margin-bottom: 5px;
  padding: 4px;
  box-shadow: -1px 0px 5px -3px black;
  border-radius: 2px;
  color: rgb(191, 115, 17);
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
}

.customButton {
  padding: 5px;
  width:50px;
  background-color: rgb(186, 20, 48);
  color: white;
  margin-left: 25px;
  border-radius: 5px;
  float: right;
}

div {
  margin: auto;
  padding: 25px;
  width: 50%;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: -1px 0px 10px -3px pink;
}
